body {
    background-color: #EFF3F6;
}

.svgcolor {
    fill: #ACB102;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis--x path {
    display: none;
}

.line {
    fill: none;
    stroke: #042898;
    stroke-width: 2px;
}